<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <link rel="stylesheet" href="css/main.css"> -->
    <style>@import url('https://fonts.googleapis.com/css2?family=Stick+No+Bills:wght@300&display=swap');
        /*custom properties*/
        
        :root
        {
            --leading: 2em;
        }
        
        
        body
        {
            font-family: 'Stick No Bills', sans-serif;
            margin : 0;
        }
        
        .hero-bg
        {
            background: #993730 url('images/food.jpg');
            background-position: 12% 83%;
            color: white;
            text-align: center;
            padding: 4em;
        }
        header
        {
            padding: 1em 0;
        
        }
        
        .hero-bg a
        {
            color: white;
            text-decoration: none;
            font-weight: bold;
            font-size: 1.2rem;
        }
        
        section
        {
            margin: 0 1em;
        }
        
        h1
        {
            font-size: 2.5rem;
            margin: 2em 0 1.2em;
        }
        
        h1 span
        {
            text-transform: uppercase;
            display: block;
            font-size: 1.4rem;
            position: relative;
            z-index: 1;
        }
        
        h1 span::before{
            content: ' ';
            position: absolute;
            width: 3em;
            background: #00bfff;
            height: .4em;
            bottom: 0;
            z-index: -1;
            margin-left: -.3em;
        }
        
        .hero-bg p
        {
            font-weight: bold;
            margin: 0 1em 3em;
        }
        
        .form-container
        {
            background-color: white;
            margin: 2em -1em 0;
            padding: 2em;
            
        }
        label
        {
            color: #2d7d98;
            font-weight: bold;
            font-display: block;
            margin-bottom: 1em;
            font-size: 1.2em;
        }
        
        input[type = text]
        {
            border: 1px solid #707070;
            width: 100%;
            padding: 1em;
            box-sizing: border-box;
            border-radius: 0.5em;
            margin-top: 1.2em;
        }
        
        .form-container p
        {
            color:gray;
            margin-bottom: 1.5em;
            font-weight: normal;
            font-size: 0.9em;
            margin-top: 0.3em;
        }
        
        input[type = button]
        {   background-color: #f89104;
            border: none;
            width: 100%;
            color: white;
            font-weight: bold;
            padding: 1em 0 ;
            border-radius: .5em;
            font-size: 1.3em;
            cursor: pointer;
        
        }
        
        input[type = button]:hover
        {   background-color: rgb(216,126,1);
            font-weight: bold;
        }
        
        .authentic
        {
            margin: 0;
        
        }
        
        .right-col
        {
            text-align: center;
            margin: 3em 1em;
        }
        
        img{
            width:100%;
        
        }
        
        h2{
            text-transform: uppercase;
            position: relative;
        }
        h2::before{
            content: ' ';
            position: absolute;
            width: 8em;
            background: #00bfff;
            height: .4em;
            bottom: 0;
            z-index: -1;
            margin-left: -.3em;
        }
        p
        {
            line-height: 2em;
        }
        
        @media (min-width: 730px)
        {
            section{
                margin:0 4em;
            }
            .form-container
            {
                margin:2em -4em 0;
            }
        
        }
        
        @media (min-width: 930px)
        {
            .hero-bg
            {
                text-align: left;
            }
        
            .hero-bg p
            {
                margin:0 0 3em;
            }
        
            .hero-bg section
            {
                width: 65%;
            }
            section{
                margin:0 4em;
            }
            .form-container
            {
                margin:2em 0 0;
                padding: 2em;
                border-radius: 0.5em;
                box-shadow: 10px 10px 10px rgb(0,0,0,0.3em);
            }
        
            
        
            .form-left
        
            {
                width: 70%;
            }
            .form
            {
                display: flex;
        
            }
        
            label
            {
                margin: 0;
            }
            input[type="button"]
            {
                height: fit-content;
                font-size: 1.1em;
                margin-left: 1em;
                margin-top:2.2em;
                padding: 0.7em 0; 
                width:30%;
            }
        }</style>
    <style>

    </style>
    <title>Document</title>
</head>
<body>
    <div class="hero-bg"> 
        <section class = "top">
            <header>
                <a href="#">yummy.eats</a> 
            </header>

                <!-- <nav>
                    <ul>
                        <li><a href="#">home</a></li>
                        <li><a href="#">home</a></li>
                        <li><a href="#">home</a></li>
                        <li><a href="#">home</a></li>
                    </ul>
                </nav> -->
                <h1><span> The Healthy</span> Eating Experience</h1>
                <a href="/error404.html">Error Page</a>


                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ducimus omnis est, nisi sed cum iste maiores exercitationem. Molestiae, rerum pariatur!</p>
                <div class = "form-container">

                    <form action="">
                        <div class="form-left"> 
                        <label for="city">Enter Your City</label>
                        <input type="text" name = "city" id = "city">
                        <p>Example: "San Diego"</p>
                        </div>

                        <input type="button" value = "Find Food Now">
                    </form>
                </div>

            </div>
            

        </section class = "authentic">
            <div class="right-col">
                <h2>
                    Authentic.Awesome

                </h2>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque voluptates iste quaerat? Deserunt iusto tenetur quas aspernatur explicabo voluptatem earum sequi eaque nihil tempora? Excepturi sint repudiandae itaque laborum suscipit reiciendis, ipsam nobis recusandae nihil beatae error voluptatem, quidem omnis!
                </p>

            </div>

            <img src = "images/momos.jpg" alt = "">
        <section>

        </section>
    

    <section class="authentic">
        
    </section>
    
</body>

    
</html>